@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

.main-content h1,
.main-content h2,
.main-content h3,
.main-contenth4 {
  margin: 1rem 0 1.5rem 0;
  line-height: 1.25;
}
.main-content h1 {
  font-size: 2rem;
  font-weight: 700;
}
.main-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
}
.main-content h3 {
  font-size: 1.25rem;
  font-weight: 700;
}
.main-content h4 {
  font-size: 1rem;
  font-weight: 700;
}

.main-content a {
  text-decoration: underline;
}
.main-content a:hover,
.main-content a:focus,
.main-content a:active {
  text-decoration: underline;
}

.main-content p {
  margin: 1em 0;
  line-height: 1.5;
}
.main-content p code {
  background-color: #eee;
  padding: 0.05em 0.2em;
  border: 1px solid #ccc;
  color: #333;
}

.main-content ol,
.main-content ul {
  margin: 1em;
}
.main-content ol li ol,
.main-content ol li ul,
.main-content ul li ol,
.main-content ul li ul {
  margin: 0 2em;
}
.main-content ol li p,
.main-content ul li p {
  margin: 0;
}

.main-content dl {
  font-family: monospace, monospace;
}
.main-content dl dt {
  font-weight: bold;
}
.main-content dl dd {
  margin: -1em 0 1em 1em;
}

.main-content img {
  max-width: 100%;
  margin: 0 auto;
  padding: 0.5em;
}

.main-content blockquote {
  padding-left: 1em;
  font-style: italic;
  border-left: solid 1px #fa6432;
  clear: both;
  padding: 0.5rem 1.5rem;
}
